{% extends 'base.html' %}

{% block meta %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 80vh;
  }
  
  html, body {
    height: 100%;
  }

</style>
{% endblock meta %}

{% block title %}
<title>TF | Añadir dirección</title>
{% endblock title %}

{% block content %}
{% include '_navbar.html' %}
<section class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Dirección</label>
        <input onFocus="geolocate()" type="text" class="form-control" id="autocomplete" placeholder="Enter your address">
      </div>
      <p>Latitud: <span id="latitude"></span></p>
      <p>Longitud: <span id="longitude"></span></p>
      <p>Dirección: <span id="address"></span></p>
    </div>
    <div class="col-6">
      <div id="map"></div>
    </div>
  </div>
</section>


<script>
let autocomplete, map, marker, geocoder, infowindow;

function startMaps() {
  autocomplete = new google.maps.places.Autocomplete(
    document.getElementById('autocomplete'), {types: ['geocode']}
  );
  autocomplete.setFields(['formatted_address', 'geometry']);
  autocomplete.addListener('place_changed', fillInAddress);

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 19.432608, lng: -99.133209},
    zoom: 10,
    streetViewControl: false,
  });

  geocoder = new google.maps.Geocoder();
  infowindow = new google.maps.InfoWindow({
    size: new google.maps.Size(150, 50)
  });

  map.addListener('click', function(e) {
    placeMarker(e.latLng);
  });
}

function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      marker.formatted_address = responses[0].formatted_address;
    } else {
      marker.formatted_address = 'Cannot determine address at this location.';
    }
    infowindow.setContent(marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
    infowindow.open(map, marker);
    document.querySelector('#address').textContent = marker.formatted_address
  });
}

function placeMarker(position) {
  infowindow.close();
  if (!marker) {
    marker = new google.maps.Marker({
      position: position,
      map: map
    });
    map.panTo(position);
    map.setZoom(17);
  } else {
    marker.setPosition(position)
  }
  geocodePosition(position)
}

function fillInAddress() {
  const place = autocomplete.getPlace();
  const address = place.formatted_address
  const latitude = place.geometry.location.lat()
  const longitude = place.geometry.location.lng()
  document.querySelector('#latitude').textContent = latitude
  document.querySelector('#longitude').textContent = longitude
  document.querySelector('#address').textContent = address
  placeMarker({lat: latitude, lng: longitude})
}

function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      const geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      const circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_CLOUD_API_KEY }}&libraries=places&callback=startMaps"
    async defer></script>
{% endblock content %}
  