{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/addLocation.css' %}">
{% endblock meta %}

{% block title %}
<title>TF | Añadir dirección</title>
{% endblock title %}

{% block content %}
{% include '_navbar.html' %}
<section class="container my-5">
  {% for error in form.alias.errors %}
  <div class="alert alert-danger mb-5" alert-dismissible fade show role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
    
  <div class="row">
    <div class="col-12 col-lg-6 mb-5 mb-lg-auto">
      <h1 class="mb-4">Agrega una nueva dirección</h1>
      <div class="form-group">
        <label for="autocomplete">Dirección *</label>
        <input
          onFocus="geolocate()"
          type="text"
          class="form-control {% if form.name.errors %}is-invalid{% endif %}"
          id="autocomplete"
          placeholder="Ingresa tu dirección"
          required
        />
        {% for error in form.name.errors %}
        <small class="form-text text-danger" id="error-message">{{ error }}</small>
        {% endfor %}
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
        <input type="hidden" name="name" id="address">
        <div class="form-group">
          <label for="indoor_number">Número Interior</label>
          <input
            type="text"
            class="form-control"
            id="indoor_number"
            placeholder="Si no tienes, déjalo en blanco"
            name="indoor_number"
          />
        </div>
        <div class="form-group">
          <label for="alias">Alias *</label>
          <input
            type="text"
            class="form-control"
            id="alias"
            name="alias"
            placeholder="Casa, oficina, escuela..."
            required
          />
        </div>
        <small class="form-text text-muted mb-3">(*) Campos requeridos</small>
        <button class="btn btn-primary btn-block" type="submit">Enviar</button>
      </form>
    </div>
    <div class="col-12 col-lg-6">
      <div id="map"></div>
    </div>
  </div>
</section>

<script src="{% static 'js/addLocation.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_CLOUD_API_KEY }}&libraries=places&callback=startLocationServices"></script>
{% endblock content %}
  