html,
body {
  font-family: 'Nunito';
}

.btn-turing {
  background-color: #7200ff;
  border-color: #5000b3;
  color: #fff;
}

.btn-turing:hover {
  background-color: #5000b3;
  border-color: #5000b3;
  color: #fff;
}

.bg-purple {
  background-color: #7200ff !important;
}

.btn-light-purple {
  background-color: #dfc5ff !important;
  color: #000 !important;
}
