{% include 'base.html' %}
{% include 'header.html'%}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{% endblock meta %}

{% block title %}
<title> TF | Menú </title>
{% endblock title %}

{% block content %}

<body>
    <h1>Selecciona entre todos nuestros productos</h1>
    <section class="container content-section">
            <h2>Menú</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Platillo 1</span>
                    <img class="shop-item-image" src="{% static 'img/square-logo2.png'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$12.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">Agregar al carrito</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Platillo 2</span>
                    <img class="shop-item-image" src="{% static 'img/square-logo2.png'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">Agregar al carrito</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Platillo 3</span>
                    <img class="shop-item-image" src="{% static 'img/square-logo2.png'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="container content-section">
            <h2 class="section-header">Carrito</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">Producto</span>
                <span class="cart-price cart-header cart-column">Precio</span>
                <span class="cart-quantity cart-header cart-column">Cantidad</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">Ordenar</button>
        </section>
</body>

{% endblock content %}


{% block scripts %}
  <script src="{% static 'js/cart.js' %}"></script>
{% endblock scripts %}