{% include 'base.html' %}
{% include 'header.html'%}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}" />
{% endblock meta %}

{% block title %}
<title> TF | Menú </title>
{% endblock title %}

{% block content %}

<body>
    <h1> Selecciona entre todos nuestros productos </h1>
    <h2> Menú </h2>
    <ul class="menu">
        <li>
            <span class="image">
                <img src="{% static 'img/logo.png' %}" width=200 height=65/>
            </span>
                <h2>Magna</h2>
                <div class="content">
                    <p>Precio</p>
                    <input type="button" value="Añadir a carrito">
                </div>
        </li>
    </ul>



</body>


{% endblock content %}
