{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
  <a class="navbar-brand" href="{% url 'menu:items' %}">
    <img src="{% static 'img/white-logo.png' %}" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'menu:items' %}">Menú</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'users:profile' %}">Perfil</a>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link active" href="{% url 'menu:cart' %}">
          Ir al Carrito
          {% if not request.user.shoppingcart.itemset_set.count == 0 %}
          <span class="cart-count mobile {% if request.user.shoppingcart.itemset_set.count == 0 %}d-none{% endif %}">
            ({{ request.user.shoppingcart.itemset_set.count }})
          </span>
          {% endif %}
        </a>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link active" href="{% url 'users:logout' %}">Cerrar sesión</a>
      </li>
    </ul>
    <a
      role="button"
      href="{% url 'menu:cart' %}"
      class="btn btn-light-purple d-none d-lg-block mr-2"
    >
      Ir al Carrito
      <span
        class="badge badge-light cart-count {% if request.user.shoppingcart.itemset_set.count == 0 %}d-none{% endif %}">
        {{ request.user.shoppingcart.itemset_set.count }}
      </span>
    </a>
    <a
      role="button"
      href="{% url 'users:logout' %}"
      class="btn btn-light-purple d-none d-lg-block"
    >
      Cerrar sesión
    </a>
  </div>
</nav>