{% extends 'base.html' %}

{% load static %}

{% block title %}
<title> TF | Compras </title>
{% endblock title %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{% endblock meta %}

{% block content %}

{% include 'header.html' %}

<body>
    <div id="container">
        <form action="#">
            <label for="anadir">Lista de compra:</label>
            <input type="text" name="anadir" id="anadir">
            <input type="button" value="Añadir a la lista">
        </form>    
        
        <ul id="listaCompra"></ul>
        
        <p>Nota: Puedes eliminar elementos de la lista haciendo doble click sobre ellos</p>
    </div>
</body>

{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/cart.js' %}"></script>
{% endblock scripts %}

