{% extends 'base.html' %} {% load static %} {% block title %}
<title>Órdenes</title>
{% endblock title %} {% block content %} {% include '_navbar.html' %}
<header class="container mt-5 mb-4">
  <h1>Órdenes</h1>
</header>

<section class="container mb-5">
  <h2 class="mb-5 text-turing">Activas</h2>
  {% for order in order_list %} {% if order.status != 5 %}
  <article>
    <h4>{{ order }}</h4>
    <p><span class="badge badge-dark">{{ order.get_status_display }}</span></p>
    {% if order.status == 4 %}
    <p class="text-muted">
      <small>Repartidor: {{ order.delivery_man.get_full_name }}</small>
    </p>
    {% endif %}
    <pre>{{ order.description }}</pre>
  </article>
  <hr />
  {% endif %} {% endfor %}
</section>

<section class="container mb-5">
  <h2 class="mb-5 text-turing">Pasadas</h2>
  {% for order in order_list %} {% if order.status == 5 %}
  <article>
    <h4>{{ order }}</h4>
    <p>{{ order.amount }}</p>
    <pre>{{ order.description }}</pre>

    {% if order.rating %}
    <p class="text-turing">
      Calificado con {{ order.rating|stringformat:'.1f' }} estrellas
    </p>
    {% endif %}
  </article>
  <hr />
  {% endif %} {% endfor %}
</section>
{% endblock content %} {% block scripts %} {% endblock scripts %}
