{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock meta %}

{% block title %}
<title>¡Parry te envio algo!</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row  justify-content-center align-items-center">
    <div class="col-12 col-md-4">
      <img
	      src="{% static 'img/emailSend.png' %}"
	      alt="Turing's Food Logo"
	      width="230"
	      height="230"
      />
    </div>
    <div class="col-12 col-md-8">
      <div class="box">
        {% for message in messages %}
      <h1 class="title">
        {{ message }}
      </h1>
      {% empty %}
      <h1 class="title">
        Parry ha enviado tu código de confirmación, ¡no lo hagas esperar!
      </h1>
      {% endfor %}
      <a role="button" class="btn btn-warning" href="{% url 'index' %}">Entendido</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock scripts %}
  
